header{
  background: url(/src/assets/img/header.jpg);
  background-size: cover;
}

.title_header{
  font-size: .6em;
  color: var(--font-color) ;
  margin: 10rem 0 2rem;
}
/* NavMenu */
.nav_bar{
  position: sticky;
  top: 0;
  border-radius: 1rem;
  background: var(--dark) ;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.menu{
  display: flex;
}
.menu li a{
  color: var(--font-color);
  padding: 1rem;
  border-radius: 1rem;
}
.menu li a:hover{
  background: #000;
  transition: .5s ease-in-out;

}

@media screen and (max-width: 768px) {
  .nav_bar{
    height: 60px;
    justify-content: center;
  }
  .logo_container{
    display: none;
  }
  .menu li a{
    padding: .5rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px){
  header {
    min-height: 100vh;
  }
  .title_header{
    font-size: 2rem;
    margin: 20rem 0 2rem;
  }
  .menu li a{
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 540px){
  .menu li a{
    font-size: .8rem;
  }
}