
/* footer */
footer{
  color: var(--font-color);
  background: var(--dark);
  height: 100px;
  width: 100%;
}
.footer_container{
  height: 100%;
  margin: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_item {
  color: var(--font-color);
  margin: 1rem;
}

@media screen and (max-width: 900px){
  footer{
    font-size: 1rem;
    height: 120px;
  }
  .footer_container{
    flex-direction: column;
    justify-content: center;
  }

}